<div class="flex flex-row items-center h-full px-8 bg-[#20232b]">
    <div class="brand pr-5">
      <p class="roboto-medium text-2xl brand-name tracking-widest">re<span class="roboto-bold text-[#fbffff]">Chat</span></p>
    </div>
    <span class="m-auto"></span>
    <ul class="inline-flex h-full">
      <li class="inline-flex px-5 hover:cursor-pointer">
        <i class="fa-light fa-file place-self-center mr-2 text-xl"></i>
        <p class="place-self-center text-lg">Resume</p>
      </li>
      <li class="inline-flex px-5 hover:cursor-pointer">
        <i class="fa-light fa-square-user place-self-center mr-2 text-xl"></i>
        <p class="place-self-center text-lg">Contact</p>
      </li>
      <li class="inline-flex px-5 hover:cursor-pointer">
        <i class="fa-light fa-chart-line-up place-self-center mr-2 text-xl"></i>
        <p class="place-self-center text-lg">Statistics</p>
      </li>
      <li class="inline-flex px-5 hover:cursor-pointer text-[#f9fea6]">
        <i class="fa-light fa-envelope-open-text place-self-center mr-2 text-xl"></i>
        <p class="place-self-center text-lg">Chats</p>
      </li>
      <li class="inline-flex px-5 hover:cursor-pointer">
        <i class="fa-light fa-grid-2 place-self-center mr-2 text-xl"></i>
        <p class="place-self-center text-lg">Settings</p>
      </li>
    </ul>
    <span class="mx-7"></span>
    <ul class="inline-flex h-full">
      <li class="inline-flex px-3 hover:cursor-pointer">
        <i class="fa-light fa-toggle-large-on text-4xl place-self-center text-[#5852d6]"></i>
      </li>
      <li class="inline-flex px-3 hover:cursor-pointer">
        <i class="fa-light fa-square-phone text-3xl place-self-center"></i>
      </li>
      <li class="inline-flex px-3 hover:cursor-pointer">
        <i class="fa-light fa-bell text-2xl place-self-center"></i>
      </li>
    </ul>
    <div class="user flex flex-row ml-5 hover:cursor-pointer">
      <div class="h-full flex flex-col place-self-center place-items-end">
        <p>Good Evening, <span class="roboto-bold">Lesther</span></p>
        <p>+63 997 329 6848</p>
      </div>
      <span class="mx-2"></span>
      <div class="place-self-center">
        <i class="fa-light fa-user-secret text-4xl"></i>
      </div>
    </div>
  </div>