<div class="w-full h-full">
    <div class="flex flex-col h-full">
        <div class="flex-none bg-black rounded-t-2xl px-5 py-2 inline-flex">
            <div class="inline-flex">
                <i class="fa-thin fa-user-secret place-self-center text-2xl"></i>
                <span class="m-2"></span>
                <p class="place-self-center text-white">Gil Laurence Aranco</p>
            </div>
            <span class="m-auto"></span>
            <div class="inline-flex">
                <button class="bg-[#262626] px-5 py-3 rounded-2xl place-self-center hover:cursor-pointer text-white">Agree to Offer</button>
                <span class="mx-1"></span>
                <i class="fa-light fa-bookmark p-3 place-self-center hover:cursor-pointer text-white"></i>
                <i class="fa-light fa-calendar-lines-pen place-self-center hover:cursor-pointer text-white"></i>
            </div>
        </div>
        <div class="flex-1 bg-[#1d1e24]">
            <div class="flex flex-col h-full">
                <div class="flex-1">
                    convo here
                </div>
                <div class="flex-none p-5">
                    <div class="inline-flex bg-[#16171b] rounded-2xl w-full px-5 py-3">
                        <input type="text" class="w-full bg-transparent outline-none place-self-center" placeholder="Write your message">
                        <i class="fa-light fa-face-smile px-2 py-2 text-xl hover:bg-[#26272e] rounded-2xl hover:cursor-pointer place-self-center"></i>
                        <i class="fa-light fa-paperclip-vertical px-2 py-2 text-xl hover:bg-[#26272e] rounded-2xl hover:cursor-pointer place-self-center"></i>
                        <i class="fa-light fa-image px-2 py-2 text-xl hover:bg-[#26272e] rounded-2xl hover:cursor-pointer place-self-center"></i>
                        <span class="m-1"></span>
                        <button class="place-self-center px-3 py-2 bg-[#f3fc8a] text-black rounded-2xl"><i class="fa-light fa-paper-plane-top text-xl"></i></button>
                    </div>
                </div>
            </div>  
        </div>
    </div>
</div>