<div class="flex flex-row p-4 rounded-3xl hover:bg-[#1a1e23] hover:cursor-pointer m-1">
    <div class="flex-none place-self-center grid place-items-center rounded-full bg-red-50 overflow-hidden w-14 h-14">
        <i class="fa-light fa-user-astronaut text-5xl"></i>
        <!-- <img src="" alt=""> temporarily icon-->
    </div>
    <div class="flex-1 ml-5">
        <div class="tile-info">
            <div class="inline-flex w-full">
                <p class="place-self-center roboto-bold text-white">Gil Aranco</p>
                <i class="fa-solid fa-circle mx-2 place-self-center text-[10px] text-[#a2d931]"></i>
                <span class="m-auto"></span>
                <p class="text-xs place-self-center">12:30 PM</p>
            </div>
            <p>+63 912 345 6789</p>
            <p>Maybe on Friday?</p>
        </div>
    </div>
</div>