<div class="flex flex-row h-full pt-10 overflow-hidden">
    <div class="flex-none w-96 px-5 overflow-y-auto">
        <div class="search inline-flex bg-[#16171b] rounded-2xl w-full px-5 py-3 sticky">
            <i class="fa-light fa-magnifying-glass place-self-center text-2xl"></i>
            <span class="m-2"></span>
            <input type="text" class="w-full bg-transparent outline-none place-self-center" placeholder="Search">
        </div>
        <!-- UNREAD -->
        <div class="message-container mt-7">
            <div class="label inline-flex w-full px-4 hover:cursor-pointer">
                <p>Unread</p>
                <span class="m-auto"></span>
                <i class="fa-light fa-chevron-up"></i>
            </div>
            <div class="message-list">
                <app-message-list-tile></app-message-list-tile>
                <app-message-list-tile></app-message-list-tile>
                <app-message-list-tile></app-message-list-tile>
            </div>
        </div>
        <!-- FROM TEAM -->
        <div class="message-container mt-7">
            <div class="label inline-flex w-full px-4 hover:cursor-pointer">
                <p>From Teams</p>
                <span class="m-auto"></span>
                <i class="fa-light fa-chevron-down"></i>
            </div>
            <div class="message-list">
                <!-- message list tile here -->
            </div>
        </div>
        <!-- FROM COMPANIES -->
        <div class="message-container mt-7">
            <div class="label inline-flex w-full px-4 hover:cursor-pointer">
                <p>From Teams</p>
                <span class="m-auto"></span>
                <i class="fa-light fa-chevron-down"></i>
            </div>
            <div class="message-list">
                <!-- message list tile here -->
            </div>
        </div>
        <!-- ALL MESSAGE -->
        <div class="message-container mt-7">
            <div class="label inline-flex w-full px-4 hover:cursor-pointer">
                <p>Unread</p>
                <span class="m-auto"></span>
                <i class="fa-light fa-chevron-up"></i>
            </div>
            <div class="message-list">
                <app-message-list-tile></app-message-list-tile>
                <app-message-list-tile></app-message-list-tile>
                <app-message-list-tile></app-message-list-tile>
            </div>
        </div>
    </div>
    <div class="flex-1">
        asd
    </div>
</div>