/* You can add global styles to this file, and also import other style files */
@import url('https://fonts.googleapis.com/css2?family=Gruppo&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: Roboto-Light;
    src: url('./assets/fonts/Roboto-Light.ttf');
}

@font-face {
    font-family: Roboto-Regular;
    src: url('./assets/fonts/Roboto-Regular.ttf');
}

@font-face {
    font-family: Roboto-Medium;
    src: url('./assets/fonts/Roboto-Medium.ttf');
}

@font-face {
    font-family: Roboto-Bold;
    src: url('./assets/fonts/Roboto-Bold.ttf');
}


*{
    font-family: 'Roboto-Regular';
}

.roboto-medium{
    font-family: 'Roboto-Medium';
}

.roboto-bold{
    font-family: 'Roboto-Bold';
}

.brand-name{
    font-family: 'Gruppo', cursive;
}

/* width */
::-webkit-scrollbar {
    width: 2px;
}

/* Track */
::-webkit-scrollbar-track {
background: transparent; 
}

/* Handle */
::-webkit-scrollbar-thumb {
background: #666; 
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
background: #555; 
}