<div class="bg-[#17181c] min-h-screen flex flex-row w-full text-white">
    <div class="flex-none w-[300px] border-r border-gray-700">
        sadsa
    </div>
    <div class="flex-1">
        <div class="flex flex-col h-screen">
            <div class="inline-flex h-16 bg-[#1e1f23] border-b border-gray-700 px-5">
                <div class="inline-flex place-self-center hover:cursor-pointer">
                    <i class="fa-solid fa-house text-white text-lg place-self-center"></i>    
                    <span class="m-1"></span>
                    <p class="place-self-center text-lg">Home</p>
                </div>
                <span class="mx-10"></span>
                <div class="border border-gray-700 inline-flex h-10 bg-[#27282f] rounded p-1 place-self-center text-sm">
                    <div class="roboto-light rounded place-self-center py-1 px-2 hover:cursor-pointer hover:bg-[#343440]">Explore</div>
                    <div class="roboto-light rounded place-self-center py-1 px-2 hover:cursor-pointer hover:bg-[#343440]">Community Feed</div>
                    <div class="roboto-light rounded place-self-center py-1 px-2 hover:cursor-pointer hover:bg-[#343440]">Mutual Friend</div>
                </div>
                <span class="m-auto"></span>
                <div class="inline-flex place-self-center">
                    <div class="rounded-full border border-gray-700 w-10 h-10 inline-flex place-content-center bg-[#27282f] mx-1 hover:cursor-pointer hover:bg-[#343440]">
                        <i class="fa-solid fa-comment-lines text-white text-lg place-self-center"></i>
                    </div>
                    <div class="rounded-full border border-gray-700 w-10 h-10 inline-flex place-content-center bg-[#27282f] mx-1 hover:cursor-pointer hover:bg-[#343440]">
                        <i class="fa-solid fa-bell text-white text-lg place-self-center"></i>
                    </div>
                </div>
                <span class="m-2"></span>
                <div class="user inline-flex">  
                    <p class="place-self-center">Lesther B.</p>
                    <span class="m-1"></span>
                    <i class="fa-thin fa-user-secret place-self-center text-2xl"></i>
                </div>
            </div>
            <div class="flex flex-row h-screen p-5">
                <div class="flex-1 px-5">
                    <div class="border border-gray-700 bg-[#1e1f23] rounded w-[1000px] p-5">
                        <div class="inline-flex w-full">
                            <i class="fa-thin fa-user-secret place-self-center text-3xl"></i>
                            <span class="m-2"></span>
                            <div class="h-10 place-self-center w-full bg-[#27282f] text-[#8e929a] rounded-3xl py-1 px-4 inline-flex hover:cursor-pointer hover:bg-[#33343d]">
                                <p class="place-self-center">What's on your mind?</p>
                            </div>
                        </div>
                        <div class="post-tool">
                            <ul class="inline-flex mt-4 ml-[-10px] w-full">
                                <li class="p-1 mx-1 text-lg hover:cursor-pointer rounded hover:bg-[#343440]">
                                    <i class="fa-thin fa-camera px-1"></i>
                                </li>
                                <li class="p-1 mx-1 text-lg hover:cursor-pointer rounded hover:bg-[#343440]">
                                    <i class="fa-thin fa-image px-1"></i>
                                </li>
                                <li class="p-1 mx-1 text-lg hover:cursor-pointer rounded hover:bg-[#343440]">
                                    <i class="fa-thin fa-paperclip px-1"></i>
                                </li>
                                <li class="p-1 mx-1 text-lg hover:cursor-pointer rounded hover:bg-[#343440]">
                                    <i class="fa-thin fa-location-dot px-1"></i>
                                </li>
                                <li class="p-1 mx-1 text-lg hover:cursor-pointer rounded hover:bg-[#343440]">
                                    <i class="fa-thin fa-face-smile-relaxed px-1"></i>
                                </li>
                                <span class="m-auto"></span>
                                <li class="py-1 px-2 mx-1 inline-flex rounded hover:cursor-pointer hover:bg-[#343440]">
                                    <i class="fa-thin fa-pen-line mr-1 place-self-center"></i>
                                    <p class="text-sm place-self-center">Draft</p>
                                </li>
                                <li class="py-2 px-7 border border-gray-700 mx-1 inline-flex rounded hover:cursor-pointer hover:bg-[#343440]">
                                    <p class="text-sm place-self-center">Post</p>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="flex-none w-[350px]">
                    sdsfdsf
                </div>
            </div>
        </div>
    </div>
</div>