<div class="flex min-h-screen bg-black">
    <div class="flex-1 text-white">
        
    </div>
    <div class="flex-1 bg-[#20232b]  rounded-tl-3xl rounded-bl-3xl">
        <div class="flex flex-row h-full place-content-center">
            <div class="place-self-center flex flex-col mt-[-50px] w-[350px]">
                <div class="login-header justify-items-start mb-3">
                    <div class="brand-name-login my-4">
                        <p class="roboto-bold text-3xl text-[#fbffff] tracking-widest text-center">                        
                            <span class="roboto-medium text-4xl brand-name tracking-widest">Inconnex</span>                            
                        </p>
                    </div>
                    <div class="mx-1 my-2 text-center">
                        <p class="text-[#8e929a]">Connect to people around the world.</p>
                        <p class="text-[#8e929a]">Jobs, social life and status.</p>
                    </div>
                </div>
                <div class="my-1 inline-flex bg-[#16171b] px-4 py-3 text-white text-base rounded-2xl">
                    <input class="bg-transparent place-self-center outline-none w-full" type="text" name="" id="" placeholder="Email">
                    <span class="m-auto"></span>                    
                    <i class="fa-light fa-at place-self-center px-1"></i>
                </div>
                <div class="my-1 inline-flex bg-[#16171b] px-4 py-3 text-white text-base rounded-2xl">
                    <input class="bg-transparent place-self-center outline-none w-full" type="password" name="" id="" placeholder="Password">
                    <span class="m-auto"></span>                    
                    <i class="fa-light fa-lock px-1"></i>
                </div>
                <div class="my-1 inline-flex p-1">
                    <div>
                        <input type="checkbox" id="vehicle1" name="vehicle1" value="Bike" class="hover:cursor-pointer place-self-center">
                        <label for="vehicle1" class="text-[#8e929a] place-self-center pl-1 hover:cursor-pointer">Remember Me</label><br>
                    </div>
                    <span class="m-auto"></span>
                    <div>
                        <a href="#" class="text-[#3f7af1]">Forgot Password?</a>
                    </div>
                </div>
                <div class="mt-5">
                    <button class="bg-[#f3fc8a] px-4 py-3 w-full rounded-2xl text-black">Login</button>
                </div>
                <div class="mt-2">
                    <button class="bg-white px-4 py-3 w-full rounded-2xl text-black">
                        <i class="fa-brands fa-google mx-1"></i>
                        Sign in using Google
                    </button>
                </div>
                <span class="m-4"></span>
                <div class="inline-flex place-content-center">
                    <p class="text-[#8e929a] mr-2">Don't have an Account?</p>
                    <a href="#" class="text-[#3f7af1]">Sign Up</a>
                </div>
            </div>
        </div>
    </div>
</div>