<div class="flex min-h-screen bg-black">
    <div class="flex-1">

    </div>
    <div class="flex-1 bg-[#20232b]">
        <div class="flex flex-row h-full">
            <div class="place-self-center">
                <div>
                    <input type="text" name="" id="" placeholder="Username">
                </div>
                <div>
                    <input type="password" name="" id="" placeholder="Password">
                </div>
                <div>
                    <button>Login</button>
                </div>
                <div>
                    <button>Sign in using Google</button>
                </div>
            </div>
        </div>
    </div>
</div>