<div class="sidebar flex flex-col h-full">
    <div class="controls flex-1">
        <ul>
            <li class="rounded-2xl inline-flex w-full p-4 hover:bg-[#f3fc8a] hover:text-black hover:cursor-pointer hover:font-bold my-1">
                <i class="fa-light fa-comment-middle text-xl place-self-center"></i>
                <span class="mx-2"></span>
                <p class="text-lg place-self-center">Pinned</p>
                <span class="m-auto"></span>
                <p class="place-self-center text-lg">9+</p>
            </li>
            <li class="rounded-2xl inline-flex w-full p-4 hover:bg-[#f3fc8a] hover:text-black hover:cursor-pointer hover:font-bold my-1">
                <i class="fa-light fa-messages text-xl place-self-center"></i>
                <span class="mx-2"></span>
                <p class="text-lg place-self-center">All</p>
                <span class="m-auto"></span>
                <p class="place-self-center text-lg">35</p>
            </li>
            <li class="rounded-2xl inline-flex w-full p-4 hover:bg-[#f3fc8a] hover:text-black hover:cursor-pointer hover:font-bold my-1">
                <i class="fa-light fa-inbox text-xl place-self-center"></i>
                <span class="mx-2"></span>
                <p class="text-lg place-self-center">Live Chat</p>
                <span class="m-auto"></span>
                <p class="place-self-center text-lg">2</p>
            </li>
            <li class="rounded-2xl inline-flex w-full p-4 hover:bg-[#f3fc8a] hover:text-black hover:cursor-pointer hover:font-bold my-1">
                <i class="fa-light fa-bookmark text-xl place-self-center"></i>
                <span class="mx-2"></span>
                <p class="text-lg place-self-center">Archive</p>
            </li>
            <li class="rounded-2xl inline-flex w-full p-4 hover:bg-[#f3fc8a] hover:text-black hover:cursor-pointer hover:font-bold my-1">
                <i class="fa-light fa-ban text-xl place-self-center"></i>
                <span class="mx-2"></span>
                <p class="text-lg place-self-center">Block</p>
            </li>
            <li class="rounded-2xl inline-flex w-full p-4 hover:bg-[#f3fc8a] hover:text-black hover:cursor-pointer hover:font-bold my-1">
                <i class="fa-light fa-trash-can text-xl place-self-center"></i>
                <span class="mx-2"></span>
                <p class="text-lg place-self-center">Trash</p>
            </li>
        </ul>
    </div>
    <span class="m-auto"></span>
    <div class="flex-none">
        <div class="h-60 text-[#fbffff] rounded-3xl p-4 bg-gradient-to-b from-purple-400 via-purple-600 to-purple-800">
            <div class="flex flex-col place-items-center text-center">
                <div class="flex-none py-4 mt-1">
                    <p class="text-lg tracking-wide">Get Premium</p>
                </div>
                <div class="flex-1 text-base">
                    <p>Increase the quantity response to your professional resume</p>
                </div>
                <div class="flex-none p-4 w-full">
                    <button class="bg-black text-white w-full py-3 rounded-xl text-sm hover:bg-opacity-95">Buy Premium</button>
                </div>
            </div>
        </div>
    </div>
</div>
